.main-home {
  height: 88vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 14.28571429% 14.28571429% 14.28571429% 14.28571429% 14.28571429% 14.28571429% 14.28571429%;
  gap: 0px 0px;
  grid-template-areas: "text imagen" "text imagen" "text imagen" "top imagen" "top imagen" "triangle triangle" "triangle triangle";
}
.main-home div {
  width: 100%;
  height: 100%;
}
.main-home .text,
.main-home .image,
.main-home .top {
  width: 90%;
  margin: 0 auto;
}
.main-home .text {
  grid-area: text;
}
.main-home .text div.main-text {
  width: 100%;
}
.main-home .text div.main-text * {
  margin: 0;
  padding: 0;
  text-align: left;
}
.main-home .text div.main-text h1 {
  color: white;
  font-size: 60px;
  text-shadow: 1px 0px 1px #3498db;
  letter-spacing: 8px;
  transform: translateY(27px);
  margin-left: 10%;
  z-index: -1;
}
@media (max-width: 1200px) and (min-width: 640px) {
  .main-home .text div.main-text h1 {
    font-size: 42px;
    letter-spacing: 6px;
    transform: translateY(20px);
  }
}
@media (max-width: 640px) and (min-width: 375px) {
  .main-home .text div.main-text h1 {
    font-size: 32px;
    letter-spacing: 4px;
  }
}
@media (max-width: 375px) {
  .main-home .text div.main-text h1 {
    font-size: 22px;
    letter-spacing: 2px;
  }
}
.main-home .text div.main-text h3 {
  margin-left: 10%;
  font-size: 50px;
}
@media (max-width: 1200px) and (min-width: 850px) {
  .main-home .text div.main-text h3 {
    font-size: 34px;
  }
}
@media (max-width: 850px) and (min-width: 640px) {
  .main-home .text div.main-text h3 {
    font-size: 26px;
  }
}
.main-home .text div.main-text h3 span {
  color: #3498db;
  transform: translateY(-20px);
  display: block;
}
.main-home .text div.main-text p {
  width: 70%;
  font-size: 16px;
  margin-left: 10%;
}
@media (max-width: 1200px) and (min-width: 850px) {
  .main-home .text div.main-text p {
    font-size: 14px;
  }
}
@media (max-width: 850px) and (min-width: 640px) {
  .main-home .text div.main-text p {
    font-size: 12px;
  }
}
.main-home .text div.main-text h1,
.main-home .text div.main-text h3 {
  font-weight: bold;
}
.main-home .text div.explore {
  margin-left: 10%;
  height: 3%;
}
.main-home .text div.explore * {
  margin: 0;
  padding: 0;
  text-align: left;
}
.main-home .text div.explore span {
  margin-left: 15%;
  margin-top: 0.4%;
}
.main-home .text div.explore h4:hover,
.main-home .text div.explore span:hover {
  cursor: pointer;
}
.main-home .text div.explore h4 {
  color: #3498db;
}
.main-home .image {
  width: 90%;
  margin-left: 0px;
  grid-area: imagen;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-home .image div {
  width: 15%;
  padding: 0;
  height: 20%;
}
.main-home .image div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-home .image div:nth-child(1) {
  height: 75%;
  width: 11%;
}
.main-home .image div:nth-child(2) {
  height: 95%;
  width: 9%;
  margin-top: 3%;
  margin-left: 1%;
  margin-right: 0.5%;
}
.main-home .image div:nth-child(3) {
  height: 70%;
  width: 13%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.main-home .image div:nth-child(4) {
  margin-top: 7%;
  height: 70%;
  width: 13%;
  margin-left: 0.5%;
  margin-right: 1%;
}
.main-home .image div:nth-child(5) {
  margin-top: 5%;
  height: 85%;
  width: 9%;
}
.main-home .top {
  grid-area: top;
  height: 145%;
}
.main-home .top h2 {
  margin-left: 10%;
  color: #3498db;
  font-size: 50px;
}
.main-home .top section {
  height: 20%;
}
.main-home .top section div:nth-child(1) {
  margin-left: 10%;
}
.main-home .top section div {
  border: 1px solid black;
  width: 25%;
  height: 220px;
  z-index: 9000;
  background-color: white;
}
.main-home .top section div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50%;
}
.main-home .top section div h3 {
  font-size: 20px;
}
.main-home .top section div p {
  font-size: 14px;
}
.main-home .top section div h3,
.main-home .top section div p {
  text-align: left;
  margin: 0;
  padding: 0;
  margin-left: 3%;
}
.main-home .top section div .icons span:nth-child(5) {
  margin-left: 20%;
}
.main-home .top section div .icons span:nth-child(5):hover {
  cursor: pointer;
}
.main-home .triangle {
  grid-area: triangle;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  background-color: #3498db;
}
.main-home .triangle div.start {
  z-index: 100;
  text-align: right;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  padding-right: 10%;
  padding-top: 3%;
  height: 20%;
}
.main-home .triangle div.sign {
  display: flex;
  justify-content: flex-end;
  height: 70%;
  z-index: 500;
}
.main-home .triangle div.sign section {
  padding-top: 5%;
  margin-right: 3%;
  text-align: right;
  height: 10%;
  width: 7%;
  font-weight: bold;
  z-index: 1000;
}
.main-home .triangle div.sign a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
  font-size: 25px;
  border-radius: 0.3rem;
}
.main-home .triangle div.sign a:hover {
  transition: 0.3s;
  text-shadow: 0px 0px 30px #969696;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: #2c3e50;
  background-color: white;
}
.main-home .triangle div.sign section:nth-child(2) {
  margin-right: 9.5%;
}
.main-home .triangle button {
  z-index: 1000;
  float: right;
  margin-top: 5%;
}
