.headerContent {
    height:30vh;
    width:100vw;
    background-image:url('https://miro.medium.com/max/12032/1*g7fENKsVOTTfmFVu48I09Q.jpeg') ;
    background-repeat: no-repeat;
    
}

.profileZone{

    display:flex;
    .profilePic{
        height:20vh;
        width: 10vw;
        border-radius: 50%;
        transform: translateY(-20%);
        margin-left: 5%;
        text-align: center;
        box-shadow: inset 0px 0px 10px 5px #227093;
        background-image: url("../../pages/assets/images/profile.png");
        background-size:10vw 19vh;
    }
}
