section.signUp {
  background-color: #353b48;
  width: 50%;
  margin: 0 auto;
  height: 70vh;
  transform: translateY(20%);
  border-radius: 0.3rem;
  box-shadow: 4px 4px 8px 0px #3498db;
}
section.signUp div.uk-margin {
  margin-left: 35%;
}
section.signUp section.uk-flex {
  margin-left: 36%;
}
section.signUp p,
section.signUp h3 {
  color: lightblue;
  width: 60%;
  margin: 0 auto;
}
section.signUp p {
  text-align: justify;
  margin-top: 2%;
  font-size: 12px;
}
section.signUp h3 {
  text-align: center;
  font-size: 26px;
}
