#box #ContentBox {
  flex-direction: row;
  justify-content: center;
  align-items: unset;
  align-content: flex-start;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: auto;
  max-width: 90%;
  max-height: 70vh;
}
#box #ContentBox h2#title {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  width: 100%;
  text-align: center;
}
#box #ContentBox section#creation {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  width: 30%;
  text-align: left;
}
#box #ContentBox section#author {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  width: 60%;
  text-align: right;
}
#box #ContentBox section#content {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  width: 100%;
}
